.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .chat-messages ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .chat-messages li {
    margin-bottom: 10px;
  }
  
  .chat-messages .message {
    background-color: #dcf8c6;
    border-radius: 15px;
    padding: 10px;
  }
  
  .chat-messages .message .content {
    font-size: 14px;
    line-height: 1.4;
  }
  
  .chat-messages .own-message {
    background-color: #e2e5ea;
  }
  
  .chat-messages .own-message .content {
    text-align: right;
  }
  
  .chat-messages .message-time {
    color: #999;
    font-size: 12px;
    margin-top: 5px;
  }

  .no-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;
    color: #888;
  }
  
  .no-messages p {
    text-align: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* Assuming you have a class "message" for each message */
.chat-messages .message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.chat-messages .sender {
  background-color: #DCF8C6;
  align-self: flex-end;
}


.chat-messages .receiver {
  background-color: #E8E8E8;
  align-self: flex-start;
}

.message-content {
  display: flex;
  align-items: center;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}




  
  